@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

nav {
  z-index: 9999;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  padding: 0 150px;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
}

.logo a {
  color: black;
  font-size: 28px;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: gray;
  padding: 14px 15px;
}

.nav-links li a:hover {
  background-color: lightgray;
}

.nav-links .drop-menu {
  z-index: 9999;
  top: 50px;
  background-color: #fff;
  position: absolute;
  width: 200px;
  line-height: 20px;
  visibility: hidden;
}

.nav-links li:hover .drop-menu {
  visibility: visible;
}

.drop-menu li a {
  display: block;
  width: 100%;
}

/* Image Slider CSS */
.carousel-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}
.navigation .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}
.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.navigation .nav-btn:hover {
  background: white;
}

.carousel {
  transition: all 0.3s ease;
}
.carousel img {
  width: 100%;
  transition: all 0.3s ease;
}

.item {
  position: absolute;
  z-index: -1;
  display: none;
}

.main {
  display: block;
}
.caption {
  font-size: 24px;
  padding: 10px 30px 10px 10px;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 15%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Values */
.values {
  position: absolute;
  width: 100%;
  top: 110%;
  height: 100vh;
}

.values-wrapper {
  width: 100%;
  text-align: center;
  padding: 50px 100px;
  margin: 0 auto;
}

.values-cards {
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.val-card {
  color: white;
  width: 250px;
  height: 200px;
  margin: 10px;
}
.val-card:nth-of-type(1) {
  background-color: #e97c6f;
}
.val-card:nth-of-type(2) {
  background-color: #6a996f;
}
.val-card:nth-of-type(3) {
  background-color: #5596c2;
}

.values-cards .val-card .val-icon,
.values-cards .val-card .val-caption {
  padding-top: 20px;
}

/* Contact Us */
.contact-us {
  position: absolute;
  width: 100%;
  top: 175%;
  padding-bottom: 100px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.contact-us h2 {
  text-align: center;
}

#form {
  width: 500px;
  padding: 20px;
  font-size: 12px;
}

#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #6a996f;
  border: none;
  border-radius: 4px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
}

.input-control input:focus {
  outline: 0;
}

.input-control.succes input {
  border-color: #11cf80;
}

.input-control.error input {
  border-color: #e6254b;
}

.input-control .error {
  color: #e6254b;
  font-size: 9px;
  height: 13px;
}

/* Footer */
footer {
  position: relative;
  margin-top: 1520px;
  height: 80px;
  clear: both;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer .footer-icon img {
  margin-top: 5px;
  width: 20px;
}
